<%= render "navegation/miniencabezado"%>
<div class="panel panel-primary" id="tama침odiv">
  <div class="panel panel-heading">
    Panel de Registro
  </div>
  <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Nombre y Apellidos</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Correo Electronico</span>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Contrase침a</span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'Minimo 6 caracteres' %>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Confirmaci칩n Contrase침a</span>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder:'Minimo 6 caracteres' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Registrarse", class: "btn btn-success" %>
    </div>
  <% end %>

  
  </div>

</div>

<nav aria-label="...">
    <ul class="pager">
      <li class="previous"><%= link_to "<span aria-hidden='true'>&larr;</span>Salir".html_safe, new_user_session_path%></li>
    </ul>
  </nav>


