<%= render "navegation/miniencabezado"%>
<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Sitio de Acceso</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <div class="form-group">
                                  <label for="username" class="control-label">Correo Electronico</label>
                                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Contraseña</label>
                                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                                  <span class="help-block"></span>
                              </div>
                              <div class="checkbox">
                                  <label>
                                      <% if devise_mapping.rememberable? -%>
                                        <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :recordar_en_este_equipo %>
                                        </div>
                                      <% end -%>
                                  </label>
                                  <p class="help-block">(Solo para este dispositivo)</p>
                              </div>
                                <%= f.submit "Entrar", class: 'btn btn-success btn-block' %>
                                <a href="/forgot/" class="btn btn-default btn-block">Help to login</a>
                          <% end %>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Consejos de Seguridad</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Siempre cierra la sesión al dejar el dispositivo.</li>
                          <li><span class="fa fa-check text-success"></span> No reveles tus contraseñas</li>
                          <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                          <li><a href="/read-more/"><u>Read more</u></a></li>
                      </ul>
                      <p><%= link_to "Registrarse".html_safe, new_user_registration_path, class:'btn btn-info btn-block'%></li></p>
                  </div>
              </div>
          </div>
