<!DOCTYPE html>
<html>
  <head>
    <title>Alcaldia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "navegation/navbar"%>
  <div class="row">
  	<div class="col-md-2 col-lg-3">
  		<%= render "navegation/verticalnavbar"%>
  	</div>
  	<div class="col-md-10 col-lg-9">
  		<%= yield %>
  	</div>
  	
  </div>
  

    
  </body>
</html>
