<!DOCTYPE html>
<html>
  <head>
    <title>Alcaldia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "navegation/navbar"%>
    <div class="row">
  		<div class="col-md-4 col-lg-2">
  			<%= render "navegation/verticalnavbar"%>
  		</div>
  		<div class="col-md-8 col-lg-10">

  			<%= yield %>
  			<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  		</div>
	 </div>
  

    
  </body>
</html>
